/* src/NavBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #333;
    color: white;
    border: #ee1010;
    /* margin: 10PX; */
  }
  
  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
    color: #beee10;
  }
  
  .navbar-left .logo,
  .navbar-left .company,
  .navbar-left .services,
  .navbar-right .login,
  .navbar-right .location,
  .navbar-right .track-shipment {
    margin-right: 20px;
  }
  
  .search-bar input {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  